---
import Footer from "../layouts/footer.astro";
import Navigation from "../layouts/navigation.astro";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1></h1>
        <slot>
        </slot>
    </body>
</html>